[package]
name = "adapter_erkul"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
anyhow = "1.0"

[dev-dependencies]
proptest = "1.0"
